<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body class="movie">
    <div class="movieImage">
        <img src="{{movie.image}}" alt="{{movie.title}}">
    </div>
    <div class="movieInfo">
        <a href="/movies">Go back</a>
        <h2>{{movie.title}}</h2>
        <h3>Director: {{movie.director}}</h3>
        <h4>Stars</h4>
        <ul>
            {{#each movie.stars}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p>{{movie.description}}</p>
        <div class="movieShowtimes">
            {{#each movie.showtimes}}
            <p>{{this}} | </p>
            {{/each}}
        </div>
    </div>
</body>

</html>